.rectangle{
  background-color:whitesmoke;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  display: block;
  // width: 530px;
  height: 35%;
  // padding: 5px;
  // margin-top:5px;
  margin: auto;
  width: 55%;
  padding: 10px;
  }
.rectangleTotal{
  border-top-color: black;
  background-color:whitesmoke;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  display: block;
  // width: 530px;
  height: 35%;
  // padding: 5px;
  // margin-top:5px;
  margin: auto;
  width: 55%;
  padding: 10px;
}
