.button{
  border: 0px;
  background-color: lightblue;
  box-shadow: antiquewhite;
  width: 70px;
  height: 30px;
  margin-left: 75%;
  margin-top: 5%;
  alignment: right;
  font-family: "Arial";
}
.button:hover{
  background-color: aliceblue;
}

label{
  margin-left: 70%;
  background-color: #dddddd;
}
