* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
li {
  flex: 0 0 50%;
  padding: 1em;
  display: flex;
  align-items: flex-end;
}
.box {
  cursor: pointer;
  background-color:whitesmoke;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  display: block;
  width: 330px;
  height: 330px;
  padding: 5px;
  margin-top:5px
}

a.box{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box a:hover{
  background-color: aquamarine;
}
